@import "../../app/styles/variables.scss";

.container {
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  //   background-color: $white;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid $main;
  box-sizing: border-box;
  font-weight: 500;

  & > span {
    font-size: 14px;
    color: $main;
    font-weight: 400;
    transition: 0.2s;
  }

  &:hover {
    & > span {
      color: $white;
      font-weight: 700;
    }
  }
}
