html,
body {
  padding: 0px;
  margin: 0px;
  background-color: #212121;
}
a {
  text-decoration: none;
}

.btn_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon_btn {
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #8c82ff;
  padding-inline: 14px;
  font-size: 14px;
  border-radius: 8px;
  color: #f0f0f0;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  font-weight: 700;

  &.img {
    width: 40px;
    padding: 0px;
  }
}

.btn:hover {
  background-color: #6f63f3;
}
