@import "../app/styles/variables.scss";

.container {
  position: relative;
}

.container > input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid $main;
  box-sizing: border-box;
  border-radius: 8px;
  color: $white;
  background-color: $main_bg;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $white;
  }
}

.container > img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}
